.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-legal-link-elm3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
